.add-doctor{
    margin-top: 10rem;
    background: #f5f9FA;
    border: 2px solid #29aae4;
    width: 204px;
    height: 49px;
    border-radius: 25px;
    font-family: emoji;
    font-weight: bolder;

}
